In [25]:
import pandas as pd

card = '4103-7997-0901-4513'

In [37]:
# A function that recognizes credit cards in about 10 minutes
def credit_card (val):
    counter_1 = 0
    counter_2 = 0
    for i in val:
        if i.isdigit():
            counter_1 +=1
        if i == '-':
            counter_2 +=1
    if counter_1 == 16 and counter_2== 3:
        return True
    else:
        return False

In [39]:
credit_card (card)

True

In [27]:
file = pd.read_csv(r'C:\Users\Yakir\Downloads\financials.csv')
file.head()

,customer_id,medicare_id,first_name,last_name,street_addr,city,zipc,phone_num,email,cc_num,transaction_amount,transaction_date
0,1,3NC8KP9GU96,Gillian,McLean,"Studio 0, Martin keys",Herbertbury,B9 4ZU,0121 496 0879,zlloyd@example.org,3528001953574659,428.78,2018-01-18T19:48:16
1,2,9QC5VR2WK40,Robert,Davis,290 Smith estates,South Aimee,IG11 9LH,0115 4960260,tuckermathew@example.com,3586368768543057,33.17,1994-01-16T07:02:27
2,3,2AT8HN5XD91,Damian,Farrell,"Flat 0, Brenda causeway",Port Joannaside,OL21 9NP,01632 960978,marccameron@example.net,3589325461730727,158.51,1998-10-18T00:35:07
3,4,6MU5-EY5-TG14,Chloe,Williams,70 Janice bypass,East Judith,BR12 8EJ,+44131 496 0802,slaterhannah@example.net,4103-7997-0901-4513,453.72,1996-06-21T02:14:49
4,5,6DP2EM7XV13,Dorothy,Webb,"Flat 6, Marian centers",Angelatown,N8H 1UL,01632 9607623328,zhodgson@example.net,60428779700,12.17,1996-03-07T08:25:57

In [29]:
list_of_columns = file.select_dtypes(object).columns
list_of_columns

Index(['medicare_id', 'first_name', 'last_name', 'street_addr', 'city', 'zipc',
       'phone_num', 'email', 'cc_num', 'transaction_date'],
      dtype='object')

In [61]:
# A loop that checks all the values in the file against the function and inserts them into a new file
# About 40 minutes

from datetime import datetime
import csv
new_data = []

for val in file.values.flatten():
    str_val = str(val)
    if credit_card(str_val):
        current_time = datetime.now().strftime('%Y-%m-%d %H:%M:%S')
        new_data.append(['credit card', current_time])

        
new_df = pd.DataFrame(new_data, columns=['Type', 'Date'])

        
current_date = datetime.now().strftime('%Y-%m-%d')
output_file = r'C:\Users\Yakir\Downloads\output_{}.csv'.format(current_date)
new_df.to_csv(output_file, index=False)

In [62]:
list

['credit card 2023-02-22T12:49:47.564325',
 'credit card 2023-02-22T12:49:47.565325',
 'credit card 2023-02-22T12:49:47.565325',
 'credit card 2023-02-22T12:49:47.565325',
 'credit card 2023-02-22T12:49:47.565325',
 'credit card 2023-02-22T12:49:47.566766',
 'credit card 2023-02-22T12:49:47.566930',
 'credit card 2023-02-22T12:49:47.567033']

In [104]:
# A second function that checks medicare id
# About 20 minutes

def medicare_id(val):
    if not isinstance(val, str):
        return False
    if len(val) != 13:
        return False
    for i in range(13):
        if i in [0, 3, 7,11,12] and not val[i].isdigit():
            return False
        elif i in [1, 5 , 10] and not val[i].isalpha():
            return False
    return True

In [105]:
med = '1EG54-TE5-MK73'
medicare_id(med)

False

In [107]:
# Inserting the two functions into the loop
# About 20 minutes

from datetime import datetime
import csv
new_data = []

for val in file.values.flatten():
    str_val = str(val)
    if credit_card(str_val):
        current_time = datetime.now().strftime('%Y-%m-%d %H:%M:%S')
        new_data.append(['credit card', current_time])
    elif medicare_id(str_val):
        current_time = datetime.now().strftime('%Y-%m-%d %H:%M:%S')
        new_data.append(['medicare id', current_time])

        
new_df = pd.DataFrame(new_data, columns=['Sensitive Values', 'Date'])

        
current_date = datetime.now().strftime('%Y-%m-%d')
output_file = r'C:\Users\Yakir\Downloads\output_{}.csv'.format(current_date)
new_df.to_csv(output_file, index=False)

In [132]:
User_file = input(r'Please right the root of your file same like "C:\Users\Yakir\Downloads\financials.csv": ')

Please right the root of your file same like "C:\Users\Yakir\Downloads\financials.csv": C:\Users\Yakir\Downloads\financials.csv

In [134]:
User_file
file = pd.read_csv(User_file)
file.head()

,customer_id,medicare_id,first_name,last_name,street_addr,city,zipc,phone_num,email,cc_num,transaction_amount,transaction_date
0,1,3NC8KP9GU96,Gillian,McLean,"Studio 0, Martin keys",Herbertbury,B9 4ZU,0121 496 0879,zlloyd@example.org,3528001953574659,428.78,2018-01-18T19:48:16
1,2,9QC5VR2WK40,Robert,Davis,290 Smith estates,South Aimee,IG11 9LH,0115 4960260,tuckermathew@example.com,3586368768543057,33.17,1994-01-16T07:02:27
2,3,2AT8HN5XD91,Damian,Farrell,"Flat 0, Brenda causeway",Port Joannaside,OL21 9NP,01632 960978,marccameron@example.net,3589325461730727,158.51,1998-10-18T00:35:07
3,4,6MU5-EY5-TG14,Chloe,Williams,70 Janice bypass,East Judith,BR12 8EJ,+44131 496 0802,slaterhannah@example.net,4103-7997-0901-4513,453.72,1996-06-21T02:14:49
4,5,6DP2EM7XV13,Dorothy,Webb,"Flat 6, Marian centers",Angelatown,N8H 1UL,01632 9607623328,zhodgson@example.net,60428779700,12.17,1996-03-07T08:25:57

In [137]:
# Last step putting everything together and run
# Then righting it in a file and run it through the terminal
# about 15 minutes

import pandas as pd
from datetime import datetime

def credit_card (val):
    counter_1 = 0
    counter_2 = 0
    for i in val:
        if i.isdigit():
            counter_1 +=1
        if i == '-':
            counter_2 +=1
    if counter_1 == 16 and counter_2== 3:
        return True
    else:
        return False

def medicare_id(val):
    if not isinstance(val, str):
        return False
    if len(val) != 13:
        return False
    for i in range(13):
        if i in [0, 3, 7,11,12] and not val[i].isdigit():
            return False
        elif i in [1, 5 , 10] and not val[i].isalpha():
            return False
    return True
            
User_file = input(r'Please right the root of your file same like "C:\Users\Yakir\Downloads\financials.csv": ')
file = pd.read_csv(User_file)
new_data = []

for val in file.values.flatten():
    str_val = str(val)
    if credit_card(str_val):
        current_time = datetime.now().strftime('%Y-%m-%d %H:%M:%S')
        new_data.append(['credit card', current_time])
    elif medicare_id(str_val):
        current_time = datetime.now().strftime('%Y-%m-%d %H:%M:%S')
        new_data.append(['medicare id', current_time])

        
new_df = pd.DataFrame(new_data, columns=['Sensitive Values', 'Date'])

        
current_date = datetime.now().strftime('%Y-%m-%d')
output_file = r'C:\Users\Yakir\Downloads\output_{}.csv'.format(current_date)
new_df.to_csv(output_file, index=False)

Please right the root of your file same like "C:\Users\Yakir\Downloads\financials.csv": C:\Users\Yakir\Downloads\financials.csv